@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
#footer a{
	text-decoration: none;
}
#footer ul{
	list-style: none;
	display: flex;
	text-align: center;
	height: 46px;
	line-height: 46px;
	position: fixed;
	bottom:0;
	left:0;
	right:0;
	background: #ccc;
}
#footer ul li{
	width: 20%;
}